*.bib linguist-detectable=false
*.sty linguist-detectable=false
*.bst linguist-detectable=false
research/Internet-NLP/paper/acl_latex.tex linguist-detectable=false
research/Internet-NLP/paper/acl.sty linguist-detectable=false
research/Internet-NLP/paper/acl_latex.pdf linguist-detectable=false
*.js linguist-language=TypeScript
*.ipynb linguist-language=Python
# https://github.com/github/linguist/blob/master/docs/overrides.md
